.tela-login{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
                0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

form::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
}

form:focus-within{
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3), 0 8px 40px rgba(0, 0, 0, 0.2);
}

